# Created by https://www.toptal.com/developers/gitignore/api/mplabx
# Edit at https://www.toptal.com/developers/gitignore?templates=mplabx

### MPLabX ###
#Ignore List for Microchip's MPLAB X IDE
#It's a form of NetBeans with vendor specific changes
#Taken from zeha on GIST https://gist.github.com/zeha/5999375
#Updated by Cristian Cristea (https://github.com/cristiancristea00)

*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.mk
*.map
*.properties
*.production
*.debug
/RiegoAutomatico.X/build/
/RiegoAutomatico.X/dist/

# End of https://www.toptal.com/developers/gitignore/api/mplabx

/PIC16F819ASM/build/
/PIC16F819ASM/debug/
/PIC16F819ASM/dist/
/PIC16F819ASM/defmplabxtrace.*

/PIC12F675.X/build/
/PIC12F675.X/dist/


*.X/_build_mplab
*.X/.generated-cmakefiles/
*.X/out/
*.X/build/
*.X/dist/
*.X/debug/

