# Created by https://www.toptal.com/developers/gitignore/api/mplabx
# Edit at https://www.toptal.com/developers/gitignore?templates=mplabx

### MPLabX ###
#Ignore List for Microchip's MPLAB X IDE
#It's a form of NetBeans with vendor specific changes
#Taken from zeha on GIST https://gist.github.com/zeha/5999375
#Updated by Cristian Cristea (https://github.com/cristiancristea00)

*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.mk
*.map
*.properties
*.production
*.debug
RiegoAutomatico.X/html/
RiegoAutomatico.X/nbproject/private/
RiegoAutomatico.X/nbproject/Package-*.bash
RiegoAutomatico.X/build/
RiegoAutomatico.X/nbbuild/
RiegoAutomatico.X/dist/
RiegoAutomatico.X/nbdist/
RiegoAutomatico.X/nbactions.xml
RiegoAutomatico.X/nb-configuration.xml
RiegoAutomatico.X/funclist
RiegoAutomatico.X/nbproject/Makefile-*
RiegoAutomatico.X/disassembly/
RiegoAutomatico.X/.generated_files/

# End of https://www.toptal.com/developers/gitignore/api/mplabx

/PIC16F819ASM/build/
/PIC16F819ASM/dist/
/PIC16F819ASM/defmplabxtrace.*

*.X/_build_mplab
*.X/.generated-cmakefiles/
*.X/out/
